@model BlogRepository.Models.Post.PostViewModel

@{
    ViewData["Title"] = "ViewPost";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-9">

            <!-- Title -->
            <h1 class="mt-4">@Model.Title</h1>

            <!-- Author -->
            <p class="lead">
                Autor
                <a href="~/Blog/ViewBlog?blogId=@Model.BlogId">@Model.Username</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>Dodano @Model.Created</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

            <hr>

            <!-- Post Content -->
            <p>@Model.Content</p>
            @*<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>

                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">
                        Someone famous in
                        <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>*@

            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Napisz komentarz:</h5>
                <div class="card-body">
                    <form asp-action="PostComment" method="post">
                        <input type="text" name="postId" value="@Model.Id" hidden />
                        <div class="form-group">
                            <textarea name="content" class="form-control" rows="3" placeholder="Podziel się opinią..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Wyślij</button>
                    </form>
                </div>
            </div>

            <!-- Single Comment -->
            @foreach (var comment in Model.Comments)
            {
                <div class="media mb-4">
                    <div style="margin-left:auto; margin-right:auto">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">                    
                        <form asp-action="LikeComment" method="post" name="likeCommentForm">
                            <input type="text" name="postId" value="@Model.Id" hidden />
                            <input type="text" name="commentId" value="@comment.Id" hidden />
                            <button class="btn">@comment.Likes   <i class="fa fa-thumbs-up" style="color: #1b6ec2"></i></button>
                        </form>
                    </div>
                                        
                    <div class="media-body">
                        <h5 class="mt-0" style="margin-bottom: 0px">@comment.Username</h5>
                        <p style="font-size:small">@comment.Created</p>
                        @comment.Content
                    </div>
                </div>
                <hr />
            }

            <!-- TODO: Maybe later -->
            <!-- Comment with nested comments -->
            @*<div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>

                    </div>
                </div>*@

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-3">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Szukaj</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Np. MongoDB">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Szukaj!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Kategorie</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">MongoDB</a>
                                </li>
                                <li>
                                    <a href="#">HTML</a>
                                </li>
                                <li>
                                    <a href="#">.Net Core</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">Tutoriale</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Statystyki</h5>
                <div class="card-body">
                    <ul style="margin-bottom:0px">
                        <li>Wyświetlenia: @Model.Views</li>
                        <li>Polubienia: @Model.Likes</li>
                    </ul>
                </div>
            </div>

            <form asp-action="LikePost" method="post">
                <input type="text" name="postId" value="@Model.Id" hidden />
                <button class="btn btn-success" type="submit">Podoba mi się ten post!</button>
            </form>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->