@model IEnumerable<BlogRepository.DataAccess.Collection.Blog>

@{
    ViewData["Title"] = "Index";
}

<!-- Page Content -->
    <div class="container">

        <h1 class="my-4">
            Nasze blogi...
        </h1>

        @{
            var random = new Random().Next(0, Model.Count());
            var randomBlog = Model.ElementAt(random);
            <!-- Heading Row -->
            <div class="row align-items-center my-5">
                <div class="col-lg-7 no-side-paddings">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <h1>@randomBlog.Name</h1>
                    <p>@randomBlog.Description</p>
                    <a class="btn btn-primary" href="~/Blog/ViewBlog?blogId=@randomBlog.Id">Przejdź do bloga &rarr;</a>
                </div>
                <!-- /.col-md-4 -->
            </div>
            <!-- /.row -->
            <hr />
        }

        <!-- Content Row -->
        @for (int i = 0; i < 9; i++)
        {
            if (i % 3 == 0)
            {
                <div class="row">
                    @for (int j = i; j < i + 3; j++)
                    {
                        @if (Model.Count() <= j)
                        {
                            break;
                        }
                        <div class="card col-md-3 mb-5 no-side-paddings">
                            <a href="#">
                                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                            </a>
                            <div class="card-body">
                                <h2 class="card-title">@Model.ElementAt(j).Name</h2>
                                @{var blogPreview = (Model.ElementAt(j).Description.Length >= 50 ? Model.ElementAt(j).Description.Substring(0, 50) : Model.ElementAt(j).Description) + "..."; }
                                <p class="card-text">@blogPreview</p>
                                <a href="~/Blog/ViewBlog?blogId=@Model.ElementAt(j).Id" class="btn btn-primary">Przejdź do bloga &rarr;</a>
                            </div>
                            <div class="card-footer text-muted">
                                Stworzono @Model.ElementAt(j).Created
                                Wyświetlenia: @Model.ElementAt(j).Views
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    }
                </div>
                <!-- /.row -->
            }
        }
    </div>
<!-- /.container -->